/* Icon */
#ifndef OMIT_ICON
    1 ICON "icon.ico"
#endif

/* Version info */
1 VERSIONINFO
    FILEVERSION     1, 1, 0, 0
    PRODUCTVERSION  1, 1, 0, 0
    FILEOS          0x0 /* VOS_NT_WINDOWS32 */
    FILETYPE        0x0 /* VFT_APP */
    BEGIN
        BLOCK "StringFileInfo"
        BEGIN
            BLOCK "080904E4"
            BEGIN
                VALUE "FileDescription", "Allows you to run any command or process with power privileges."
                VALUE "FileVersion", "1.1"
                VALUE "OriginalFilename", "runpwrd"
                VALUE "ProductName", "Run Powered"
                VALUE "ProductVersion", "1.1"
                VALUE "CompanyName", "Rubis et Compagnie"
                VALUE "LegalCopyright", "Rubis et Compagnie"
            END
        END
        BLOCK "VarFileInfo"
        BEGIN
            VALUE "Translation", 0x0809, 0x04E4
        END
    END

/* Manifest */
1 24 manifest.xml